@using Test.WebUI.Models
@model LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sing In";
    LoginModel login = Model;
}

<h3 class="lead text-info text-center">Enter your credentials here:</h3>
<form class="form-horizontal col-md-offset-2" method="post" action="/Login/SingIn">
    <div class="form-group">
        @Html.LabelFor(n => n.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(n => n.Name, new { @class = "form-control", placeholder = "Enter name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(l => l.Login, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.Login, new { @class = "form-control", placeholder = "Enter login" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Password, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(p => p.Password, new { @class = "form-control", placeholder = "Enter password" })
        </div>
    </div>        
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="text-danger lead">@Html.ValidationSummary()</div>
        </div>
    </div>
</form>